* {
  font-family: 'Open Sans';
  margin: 0;
}

html {
  min-height: 100%;
}

header {
  background-color: #1F1F3D;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.title {
  color: #FFFFFF;
  font-size: 2.4em;
  font-weight: 800;
  margin-bottom: auto;
  margin-left: 10px;
  margin-top: auto;
}

.yellow-text {
  color: #FFC30C;
}

.search-box {
  display: flex;
  height: 75%;
  justify-content: flex-end;
  margin: 8px;
  width: 30%;
}

.search-button {
  background-color: #F3F6F7;
  background-image: url(images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  border: none;
  border-radius: 4px 0 0 4px;
  filter: opacity(.8);
  height: 100%;
  vertical-align: middle;
  width: 56.25px; // if you change height of this or it's parents, update this to match the new height.
}

.search-input {
  border: none;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  font-size: 1.2em;
  height: 100%;
  padding: 5px;
  vertical-align: middle;
  width: 80%;
}

main {
  display: flex;
}

.user-input-form {
  background-color: #587A8A;
  border-right: 2px solid #1F1F3D;
  height: 100vh;
  width: 33%;
}

.user-input-section {
  margin-top: 60px;
  width: 100%;
}

.task-label {
  color: #FFFFFF;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 5%;
}

.task-input {
  border: 2px solid #1F1F3D;
  border-radius: 4px;
  display: block;
  height: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.task-display {
  width: 66%;
}

.form-button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  font-size: 1.4em;
  font-weight: 800;
  height: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.urgent-filter {
  border-top: 2px solid #1F1F3D;
  margin-top: 40px;
}

#urgency-button {
  margin-top: 40px;
}

.task-card {
  display: block;
  width: 15%;
  border: 2px solid #C7D3D8 ;
  padding: 60px;
  margin: auto;
}

.checkbox-button{
  position: relative;
  right: 75px;
}

ul{
  display: inline;
}

hr {
  width: 210px;
  position: relative;
  right: 55px;
}

.urgent-button{
  background-image: url(images/urgent.svg);
  background-repeat: no-repeat;
  width: 5%;
  height: 16px;
  background-color: white;
  border: none;
  display: block;
}

.delete-button{
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  width: 5%;
  height: 16px;
  border-radius: 50%;
  display: block;
}
